<section class="biometrics-display-container" *ngIf="showBiometrics()">
  <h2 class="text-body-bold biometrics-title">BIOMETRICS</h2>
  <div class="bio-data-container">
    <div class="text-body-bold bio-detail-title column-1">Date:</div>
    <div class="text-body-regular bio-detail-desc column-2">
      {{ latestBmiItem()?.created | ordinalDate }}
    </div>
    <div class="text-body-bold bio-detail-title column-1">Height:</div>
    <div class="text-body-regular bio-detail-desc column-2">
      {{ latestBmiItem()?.height | number : '1.0-0'
      }}{{ latestBmiItem()?.height && 'cm |' }}
      {{ latestBmiItem()?.height | metricToImperialHeight }}
    </div>
    <div class="text-body-bold bio-detail-title column-1">Weight:</div>
    <div class="text-body-regular bio-detail-desc column-2">
      {{ latestBmiItem()?.weight | number : '1.0-0'
      }}{{ latestBmiItem()?.weight && 'kg |' }}
      {{ latestBmiItem()?.weight | metricToImperialWeight }}
    </div>
    <div class="text-body-bold bio-detail-title column-1">BMI:</div>
    <div class="text-body-regular bio-detail-desc column-2">
      {{ latestBmiItem()?.bmi | number : '1.0-1' }}
    </div>
  </div>
  <div class="five-percent-data-container mt-8">
    <div class="text-body-bold five-percent-data-title">5% WL:</div>
    <div
      class="text-body-bold five-percent-data-desc"
      [ngClass]="fivePercentStatusColorClass()"
    >
      {{ fivePercentStatusDisplayValue() }}
    </div>
  </div>
  <div class="five-percent-data-container">
    <div class="text-body-bold five-percent-data-title">WL Medication:</div>
    <div class="text-body-regular five-percent-data-desc">
      {{ store.treatmentDetails().current_wei_medication?.name || '' }}
    </div>
  </div>
  <footer class="footer-container">
    <button
      class="button manage-bmi-btn"
      data-button-variant="solid-default"
      (mouseup)="onViewLogsClick($event)"
      (keyup.enter)="onViewLogsClick($event)"
      *ngIf="showLogsButton"
    >
      Manage BMI Log
    </button>
  </footer>
</section>
